/* ==========================================================================
   1. Site Wide Defaults
   ========================================================================== */

body {
    font-family: 'Roboto', sans-serif;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 2px;
}


/* CSS Variable Decls */

:root {
    /* Colors */
    /* Blacls */
    --mesh-black: #1A2233;
    /* Blues */
    --mesh-blue: #1B5FCC;
    --mesh-dk-blue: #1F2533;
    --mesh-dk-blue-light: rgba(31, 37, 50, 0.5);
    --mesh-dk-blue-ultralight: rgba(31, 37, 50, 0.25);
    --mesh-dk-blue-bg: rgba(31, 37, 50, 0.02);
    --mesh-dk-blue-content-border: rgba(31, 37, 50, 0.15);
    --mesh-dk-blue-bg-border: rgba(31, 37, 50, 0.08);
    --mesh-dk-blue-dk-border: rgba(31, 37, 50, 0.1);
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.btn:focus {
    box-shadow: none;
}

#container,
#content {
    flex: 1 0 auto;
}

.seattle-rain {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 40px;
}

/**


/* ==========================================================================
   Partials
   ========================================================================== */


/* ==========================================================================
   Hero Block
   ========================================================================== */

.hero-title-block {
    text-align: center;
}

.hero-title-block h2 {
    font-weight: 300;
    font-size: 2em;
    width: 50%;
}

.hero-title-block h3 {
    font-weight: 300;
    font-size: 1.25em;
    width: 50%;
}


/* ==========================================================================
   Case Studies
   ========================================================================== */

.home .case-study-card {
    max-width: 46%;
    background: #fff;
    border: var(--mesh-dk-blue-dk-border) 1px solid;
}

.home .case-study-card .logo-container {
    height: 80px;
    width: 400px;
}

.home .case-study-card .logo-container img {
    height: 25px;
    width: auto;
}

.home .case-study-card .title {
    font-weight: 500;
    font-size: 1em;
    max-width: 800%
}

.home .case-study-card .sub-title {
    font-weight: 300;
    font-size: 1em;
    max-width: 800%
}

.home .case-study-card .arrow-container img {
    height: 25px;
    width: auto;
}

.home .case-study-card .arrow-container .case-study-disclosure:hover {
    fill: blue;
}

/* ==========================================================================
   Header - Top of every page
   ========================================================================== */

.navbar .main-logo {
    max-width: 197px;
    height: auto;
}

.navbar-light .navbar-nav .nav-link {
    padding-left: 30px;
    padding-right: 0px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--mesh-black);
    font-weight: 300;
    font-size: .9em;
    text-transform: uppercase;
}


/* ==========================================================================
   2. Home - Main Index Page
   ========================================================================== */

.home .hero {
    margin: 8em 0em;
}

.home .primary-section .get-in-touch-btn {
    height: 60px;
    width: 300px;
    top: -30px;
    color: #fff;
    background: var(--mesh-blue);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.home .primary-section {
    background: var(--mesh-dk-blue-bg);
    border: var(--mesh-dk-blue-bg-border) 1px solid;
}

.home .primary-section .button-container {
    position: relative;
}

.home .primary-section .button-container button {
    position: absolute;
    top: -30px;
}

.home .primary-section .container .testimonial,
.home .primary-section .container .casestudies-title,
.home .primary-section .container .capabilties-title {
    margin-top: 8em;
}

.home .primary-section .section-link {
    font-weight: 500;
    text-transform: uppercase;
    color: var(--mesh-dk-blue);
}

.home .primary-section .section-link:hover {
    text-decoration: none;
    color: var(--mesh-dk-blue-ultralight);
}

.home .primary-section .section-seeall-link {
    font-weight: 500;
    text-transform: uppercase;
    color: var(--mesh-dk-blue-light);
}

.home .primary-section .section-seeall-link:hover {
    text-decoration: none;
    color: var(--mesh-dk-blue);
}

.home .primary-section .capabilities .capabilities-statement {
    font-size: 2em;
    font-weight: 300;
    width: 90%
}

.home .primary-section .capabilities .capabilitiy-row .title {
    font-size: 2em;
    font-weight: 500;
    width: 90%;
    text-transform: capitalize;
}

.home .primary-section .capabilities .capabilitiy-row .capability-card {
    padding: 20px;
    background: #fff;
    border: var(--mesh-dk-blue-content-border) 1px solid;
    height: 100%;
}

.home .primary-section .capabilities .capabilitiy-row .card-title {
    text-align: center;
    font-size: 1.25em;
    font-weight: 500;
    width: 90%
}

.home .primary-section .capabilities .capabilitiy-row .card-description {
    text-align: center;
    font-size: 1em;
    font-weight: 300;
    width: 90%;
    margin-bottom: 0px;
}

.home .primary-section .testimonial {
    margin-bottom: 8em;
}

.home .primary-section .testimonial .testimonial-quote {
    font-weight: 300;
    text-align: center;
    font-size: 2em;
    width: 100%;
}

.home .primary-section .testimonial .testimonial-attr {
    color: var(--mesh-blue);
    font-weight: 300;
    text-align: center;
    font-size: 1.5em;
    width: 100%;
}

.home .primary-section .get-in-touch-top-border {
    height: 1px;
    background: var(--mesh-dk-blue-content-border);
    margin-left:-100%;
    margin-right:-100%;
}

.home .primary-section .get-in-touch .get-in-touch-header {
    color: var(--mesh-dk-blue);
    font-weight: 500;
    text-align: left;
    font-size: 1.0em;
    width: 100%;
    text-transform: uppercase;
}

.home .primary-section .get-in-touch .get-in-touch-content {
    color: var(--mesh-dk-blue);
    font-weight: 300;
    text-align: left;
    font-size: 2em;
    width: 100%;
}

/* ==========================================================================
   9. Footer - The bottom of every page
   ========================================================================== */

footer {
    background: var(--mesh-dk-blue);
    color: white;
    /* position: fixed; */
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

footer .footer-list h5 {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: .5;
}

footer li,
footer li a {
    letter-spacing: 1px;
    font-size: 15px;
    color: #fff;
    font-weight: 300;
}

footer li a:hover {
    color: #fff;
    opacity: 0.6;
}

footer .nav-list ul {
    list-style: none;
    padding-left: 0px;
}

footer .nav-list ul a {
    padding: 0px;
    text-transform: uppercase;
}

footer .blog-title {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

footer .blog-sub-title {
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    opacity: 0.5;
    font-weight: 300;
}