/* ==========================================================================
   * Style * 
   All CSS classes should appear in the same linear order that they appear
   on the html of their respective section

   * Media Queries * 
   All media queries should be located at the bottom of each respective section.
   on the html of their respective section

   CSS Table Of Contents:
    
   * GENERAL *
   1a - Site Wide Defaults
   1b - Media Query Templates
   1c - Article Styling

   * PARTIALS *
   2a - Section Headers
   2b - Hero Block
   2c - Case Studies
   2d - Tag Box
   2e - Get In Touch Partial
   2f - Capabilities
   2g - Header (Top of every page)
   2h - Footer (The bottom of every page)
   2i - Typeform Partial
   2j - Founders

   * SITE SECTIONS * 
   3a - Home (Main Index Page)
   3b - Work Index (Work page for products and clients)
   3c - Work Single (Case Study)
   3d - About (Story of Mesh / Founders)
   3e - Services (What Mesh Can Do)
   3f - Blog Index (All of our Blog Posts)
   3g - Blog Post (Single)

   ========================================================================== */

/* ==========================================================================
   GENERAL
   ========================================================================== */

/* ==========================================================================
   1a. Site Wide Defaults
   ========================================================================== */

/* Site Base Print Font */

body {
    font-family: 'acumin-pro', sans-serif;
}

/* Increasing the letter spacing to accommodate for roboto */

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0.0px;
}

/* CSS Variable Decls */

:root {
    /* Colors */
    /* Blacks */
    --mesh-black: #1A2233;
    /* Blues */
    --mesh-blue: #1B5FCC;
    --mesh-dk-blue: #1F2533;
    --mesh-dk-blue-light: rgba(31, 37, 50, 0.5);
    --mesh-dk-blue-ultralight: rgba(31, 37, 50, 0.25);
    --mesh-dk-blue-bg: rgba(31, 37, 50, 0.02);
    --mesh-dk-blue-content-border: rgba(31, 37, 50, 0.15);
    --mesh-dk-blue-bg-border: rgba(31, 37, 50, 0.08);
    --mesh-dk-blue-dk-border: rgba(31, 37, 50, 0.1);
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

a {
    color: var(--mesh-dk-blue);
}

a:hover {
    text-decoration: none;
    color: var(--mesh-blue);
}

.btn:focus {
    box-shadow: none;
}

#container,
#content {
    flex: 1 0 auto;
}

.seattle-rain {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 46px;
}

/* ==========================================================================
   1b. Media Query Templates
   ========================================================================== */

/* XL */

@media (max-width: 1200px) {}

@media (min-width: 1200px) {}

/* LG */

@media (max-width: 992px) {}

@media (min-width: 992px) {}

/* MD */

@media (max-width: 768px) {}

@media (min-width: 768px) {}

/* SM */

@media (max-width: 576px) {}

@media (min-width: 576px) {}

/* ==========================================================================
   1c. Article Styling
   ========================================================================== */

/* Article (Blog/CaseStudy) Font */

/* Helvetica Neue way easier to read in paragraphs (print) */

article {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
}

article h1,
article h2,
article h3,
article h4,
article h5 {
    margin-top: 1.0em;
    margin-bottom: 0.5em;
}

/* Spacing */

article blockquote p,
article p,
article a,
article li {
    line-height: 35px;
}

.primary-section article p {
    font-size: 1.0em;
    font-weight: 400;
}

article pre {
    background: rgba(0, 0, 0, 0.05);
    padding: 25px;
    color: rgba(0, 0, 0, 0.83);
    border-radius: 6px;
    margin-bottom: 2em;
}

article .highlight pre {
    background: #373d43;
}

article a {
    font-weight: 400;
}

article.post a {
    text-decoration: underline;
}

article.post h4 a {
    font-weight: 500;
}

article blockquote {
    font-style: italic;
    padding: 0em 0.75em;
    border-left: 3px solid rgba(0,0,0,.84);
    font-size: 18px;
}

article ol {
    font-size: 21px;
    font-weight: 400;
}

article.post a:hover {
    color: var(--mesh-blue);
    text-decoration: underline;
}

article img,
article table img {
    max-width: 100%;
}

/* Block Quote Styling */

article blockquote,
article p {
    font-size: 18px;
}

blockquote {
    margin: 2em 0em;
    font-size: 1.5em;
}

blockquote p:first-child {
    margin: 0em;
}

blockquote p {
    font-size: .75em;
}

blockquote p cite a {
    font-size: .75em;
    font-weight: 400;
    color: var(--mesh-dk-blue-light);
}

blockquote p cite a:hover {
    color: var(--mesh-dk-blue);
}

@media (max-width: 768px) {
    article h1,
    article h2,
    article h3,
    article h4,
    article h5 {
        margin-top: 2em;
        margin-bottom: .5em;
    }
    article h1:first-child,
    article h2:first-child,
    article h3:first-child,
    article h4:first-child,
    article h5:first-child {
        margin-top: 1em;
        margin-bottom: .5em;
    }
    article {
        padding: 0em .5em;
    }
    article p {
        font-size: 18px;
    }
    article blockquote {
        font-size: 16px;
    }
}

/* List Styling */
article ol {
    font-size: 18px;
}

/* Code Highlighting Theme */

/* Background */

.chroma {
    color: #f8f8f2;
    background-color: #272822
}

/* Error */

.chroma .err {
    color: #960050;
    background-color: #1e0010
}

/* LineTableTD */

.chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
}

/* LineTable */

.chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    overflow: auto;
    display: block;
}

/* LineHighlight */

.chroma .hl {
    display: block;
    width: 100%;
    background-color: #ffffcc
}

/* LineNumbersTable */

.chroma .lnt {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    display: block;
}

/* LineNumbers */

.chroma .ln {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
}

/* Keyword */

.chroma .k {
    color: #66d9ef
}

/* KeywordConstant */

.chroma .kc {
    color: #66d9ef
}

/* KeywordDeclaration */

.chroma .kd {
    color: #66d9ef
}

/* KeywordNamespace */

.chroma .kn {
    color: #fff
}

/* KeywordPseudo */

.chroma .kp {
    color: #66d9ef
}

/* KeywordReserved */

.chroma .kr {
    color: #66d9ef
}

/* KeywordType */

.chroma .kt {
    color: #66d9ef
}

/* NameAttribute */

.chroma .na {
    color: #00fbca
}

/* NameClass */

.chroma .nc {
    color: #00fbca
}

/* NameConstant */

.chroma .no {
    color: #66d9ef
}

/* NameDecorator */

.chroma .nd {
    color: #00fbca
}

/* NameException */

.chroma .ne {
    color: #00fbca
}

/* NameFunction */

.chroma .nf {
    color: #00fbca
}

/* NameOther */

.chroma .nx {
    color: #00fbca
}

/* NameTag */

.chroma .nt {
    color: #42c7f4
}

/* Literal */

.chroma .l {
    color: #ae81ff
}

/* LiteralDate */

.chroma .ld {
    color: #ff9a56
}

/* LiteralString */

.chroma .s {
    color: #ff9a56
}

/* LiteralStringAffix */

.chroma .sa {
    color: #ff9a56
}

/* LiteralStringBacktick */

.chroma .sb {
    color: #ff9a56
}

/* LiteralStringChar */

.chroma .sc {
    color: #ff9a56
}

/* LiteralStringDelimiter */

.chroma .dl {
    color: #ff9a56
}

/* LiteralStringDoc */

.chroma .sd {
    color: #ff9a56
}

/* LiteralStringDouble */

.chroma .s2 {
    color: #ff9a56
}

/* LiteralStringEscape */

.chroma .se {
    color: #ae81ff
}

/* LiteralStringHeredoc */

.chroma .sh {
    color: #ff9a56
}

/* LiteralStringInterpol */

.chroma .si {
    color: #ff9a56
}

/* LiteralStringOther */

.chroma .sx {
    color: #ff9a56
}

/* LiteralStringRegex */

.chroma .sr {
    color: #ff9a56
}

/* LiteralStringSingle */

.chroma .s1 {
    color: #ff9a56
}

/* LiteralStringSymbol */

.chroma .ss {
    color: #ff9a56
}

/* LiteralNumber */

.chroma .m {
    color: #ae81ff
}

/* LiteralNumberBin */

.chroma .mb {
    color: #ae81ff
}

/* LiteralNumberFloat */

.chroma .mf {
    color: #ae81ff
}

/* LiteralNumberHex */

.chroma .mh {
    color: #ae81ff
}

/* LiteralNumberInteger */

.chroma .mi {
    color: #ae81ff
}

/* LiteralNumberIntegerLong */

.chroma .il {
    color: #ae81ff
}

/* LiteralNumberOct */

.chroma .mo {
    color: #ae81ff
}

/* Operator */

.chroma .o {
    color: #fff
}

/* OperatorWord */

.chroma .ow {
    color: #fff
}

/* Comment */

.chroma .c {
    color: #D3CDB0
}

/* CommentHashbang */

.chroma .ch {
    color: #D3CDB0
}

/* CommentMultiline */

.chroma .cm {
    color: #D3CDB0
}

/* CommentSingle */

.chroma .c1 {
    color: #D3CDB0
}

/* CommentSpecial */

.chroma .cs {
    color: #D3CDB0
}

/* CommentPreproc */

.chroma .cp {
    color: #D3CDB0
}

/* CommentPreprocFile */

.chroma .cpf {
    color: #D3CDB0
}

/* GenericDeleted */

.chroma .gd {
    color: #fff
}

/* GenericEmph */

.chroma .ge {
    font-style: italic
}

/* GenericInserted */

.chroma .gi {
    color: #00fbca
}

/* GenericStrong */

.chroma .gs {
    font-weight: bold
}

/* GenericSubheading */

.chroma .gu {
    color: #D3CDB0
}

/* ==========================================================================
   PARTIALS
   ========================================================================== */

/* ==========================================================================
   2a - Section Headers
   ========================================================================== */

.section-headers .title {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    width: 80%;
}

.section-headers .content {
    font-size: 2em;
    font-weight: 300;
    width: 80%;
}

/* ==========================================================================
   2b. Hero Block
   ========================================================================== */

.hero-title-block {
    text-align: center;
}

.hero-title-block h2 {
    font-weight: 300;
    font-size: 3em;
    margin-bottom: 0.5em;
}

.hero-title-block h3 {
    font-weight: 300;
    font-size: 1.3em;
    line-height: 1.5;
}

@media (min-width: 768px) {
    .hero-title-block h2 {
        width: 75%;
    }
    .hero-title-block h3 {
        width: 50%;
    }
}

/* ==========================================================================
   2c - Case Studies
   ========================================================================== */

.case-study-card {
    background: #fff;
    border: var(--mesh-dk-blue-dk-border) 1px solid;
    overflow: hidden;
    text-overflow: ellipsis;
}

.case-study-card .card-row,
.case-study-card .card-container {
    height: 100%;
    padding-top: 2em;
    padding-bottom: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.case-study-card .logo-container {
    justify-content: start;
    height: 32px;
    width: 100%;
    margin-bottom: 1em;
}

.case-study-card .logo-container img {
    width: auto;
}

.case-study-card .title {
    font-weight: 500;
    font-size: 1em;
    line-height: 2;
    max-width: 800%
}

.case-study-card .sub-title {
    font-weight: 300;
    font-size: 1em;
    line-height: 1.75;
    max-width: 800%
}

.case-study-card .arrow-container img {
    height: 25px;
    width: auto;
}

@media (max-width: 576px) {
    .case-study-card .logo-container {
        justify-content: center;
        margin: 0em;
    }
    .case-study-card .title {
        text-align: center;
    }
    .case-study-card .sub-title {
        text-align: center;
    }
}

/* ==========================================================================
   2d - Tag Box
   ========================================================================== */

.tag-box {
    position: relative;
    align-items: flex-end;
    margin-top: 1em;
}

.tag-box .tag {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.85em;
    color: var(--mesh-dk-blue-light);
}

.tag-box .tag-spacer {
    display: inline-block;
    height: 4px;
    width: 4px;
    min-height: 4px;
    min-width: 4px;
    border-radius: 50%;
    background: var(--mesh-blue);
    /* We do this since the letter-spacing css prop of the text padds the end of text..? */
    margin: 3px;
    margin-bottom: 9px;
    margin-right: 9px;
    margin-left: 6px;
}

.tag-box .arrow-container .case-study-disclosure:hover {
    fill: blue;
}

@media (max-width: 576px) {
    .tag-box {
        justify-content: center;
    }
}

/* ==========================================================================
   2e - Get In Touch Partial
   ========================================================================== */

.get-in-touch {
    padding-top: 3em;
    padding-bottom: 2em;
}

.get-in-touch-btn {
    height: 60px;
    width: 300px;
    top: -30px;
    color: #fff;
    background: var(--mesh-blue);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.get-in-touch-container {
    background: #fff;
}

.get-in-touch .get-in-touch-header {
    color: var(--mesh-dk-blue);
    font-weight: 500;
    text-align: left;
    font-size: 1.0em;
    width: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.get-in-touch .get-in-touch-content {
    color: var(--mesh-dk-blue);
    font-weight: 300;
    text-align: left;
    font-size: 2em;
    width: 100%;
}

.get-in-touch .content-col {
    margin: 2em 0em;
}

.get-in-touch .btn-col {
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .get-in-touch .get-in-touch-header {
        text-align: center;
    }
    .get-in-touch .get-in-touch-content {
        text-align: center;
    }
    .get-in-touch .btn-col {
        justify-content: center;
        margin-bottom: 2em;
    }
}

/* ==========================================================================
   2f - Capabilities
   ========================================================================== */

.capability-row-col {
    margin-left: -15px;
    margin-right: -15px;
}

.capabilities .capabilities-statement {
    font-size: 2em;
    font-weight: 300;
    width: 90%;
    margin-left: -15px;
}

.capabilities .capability-row .capability-title {
    font-size: 1.0em;
    font-weight: 600;
    width: 90%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.capabilities .capability-row .capability-sub-title {
    font-size: 1.75em;
    font-weight: 300;
    width: 90%;
    text-transform: capitalize;
}

.capabilities .capability-row .capability-card {
    padding: 20px;
    background: #fff;
    border: var(--mesh-dk-blue-content-border) 1px solid;
    height: 100%;
}

.capabilities .capability-row .card-title {
    text-align: center;
    font-size: 1.25em;
    font-weight: 500;
    width: 90%
}

.capabilities .capability-row .card-description {
    text-align: center;
    font-size: 1em;
    font-weight: 300;
    width: 90%;
    margin-bottom: 0px;
}

.capabilities .tag-box {
    margin-top: 2em;
}

.capabilities .tag-box .tag {
    font-size: .6em;
}

.capabilities .tag-box .tag-spacer {
    margin-bottom: 6px;
}

@media (max-width: 768px) {
    .capabilities .capability-row .capability-title {
        margin-left: 15px;
    }
    .capabilities .capability-row .capability-col {
        margin-bottom: 15px;
    }
}

@media (max-width: 576px) {
    .capability-row-col {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .capabilities .capabilities-statement {
        text-align: center;
        margin: 0px;
        width: 100%;
        font-size: 1em;
    }
}

/* ==========================================================================
   2g - Header (Top of every page)
   ========================================================================== */

.mt-5, .my-5 {
    margin-top: 5em !important;
}

.navbar .main-logo {
    max-width: 197px;
    height: auto;
}

.navbar-light .navbar-nav .nav-item {
    margin-left: 30px;
}

.navbar-light .navbar-nav li {
    /* Clever trick for not letting border shove position on hover */
    border-bottom: 2px solid transparent;
}

.navbar-light .navbar-nav li:hover {
    border-bottom: var(--mesh-dk-blue) 2px solid;
}

.navbar-light .navbar-nav .active:hover,
.navbar-light .navbar-nav .active {
    border-bottom: var(--mesh-blue) 2px solid;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--mesh-black);
    font-weight: 400;
    font-size: .8em;
    letter-spacing: 2.0px;
    text-transform: uppercase;
    padding: 0px;
}

/* ==========================================================================
   2h - Footer (The bottom of every page)
   ========================================================================== */

footer {
    background: var(--mesh-dk-blue);
    color: white;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

footer .footer-list h5 {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: .5;
}

footer li,
footer li a {
    letter-spacing: 1px;
    font-size: 15px;
    color: #fff;
    font-weight: 300;
}

footer li a:hover {
    color: #fff;
    opacity: 0.6;
}

footer .nav-list ul {
    list-style: none;
    padding-left: 0px;
}

footer .nav-list ul a {
    padding: 0px;
    text-transform: uppercase;
}

footer .blog-title {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

footer .blog-sub-title {
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    opacity: 0.5;
    font-weight: 300;
}

footer .nav-link {
    letter-spacing: 1.2px;
}


/* ==========================================================================
   2i - Typeform Partial
   ========================================================================== */

.jfmHCR {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.jfmHCR iframe {
    width: 50%;
    height: 50%;
}

/* ==========================================================================
   2j - Founders    
   ========================================================================== */

.founder-link img {
    max-width: 160px;
}

.founders .image-col,
.founders .content-col {
    justify-content: center;
}

.founders .content-col p {
    text-align: left;
}

.founders .content-col .value {
    align-items: flex-start;
}

@media (max-width: 992px) {
    .founders .founder-link img {
        width: 120px;
        margin-right: 16px;
    }
}

@media (max-width: 768px) {
    .founders .founder-link img {
        width: 120px;
        margin-right: 0px;
    }
}

@media (max-width: 576px) {
    .founders .founder-link img {
        width: 120px;
        margin-right: 0px;
    }
    .founders .content-col {
        margin-top: 1em;
    }
    .founders .content-col p {
        text-align: center;
    }
    .founders .content-col .value {
        align-items: center;
    }
}

/* ==========================================================================
   SITE SECTIONS
   ========================================================================== */

/* ==========================================================================
   3a. Home - Main Index Page
   ========================================================================== */

.home .hero {
    margin-top: 7em;
    margin-bottom: 5em;
}

.home .primary-section {
    background: var(--mesh-dk-blue-bg);
    border: var(--mesh-dk-blue-bg-border) 1px solid;
}

.home .primary-section .button-container {
    position: relative;
}

.home .primary-section .button-container button {
    position: absolute;
    top: -30px;
}

.home .primary-section .container .testimonial,
.home .primary-section .container .casestudies-title,
.home .primary-section .container .capabilities-title {
    margin-top: 8em;
}

.home .primary-section .container .capability-row {
    margin-bottom: 3em;
    margin-left: -15px;
}

.home .primary-section .section-link {
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--mesh-dk-blue);
    margin-right: 16px;
}

.home .primary-section .section-link:hover {
    text-decoration: none;
    color: var(--mesh-dk-blue-ultralight);
}

.home .primary-section .section-seeall-link {
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--mesh-dk-blue-light);
}

.home .primary-section .section-seeall-link:hover {
    text-decoration: none;
    color: var(--mesh-dk-blue);
}

.home .primary-section .casestudies .case-study-card {
    margin-bottom: 16px;
}

.home .primary-section .testimonial {
    margin-bottom: 4em;
}

.home .primary-section .testimonial .testimonial-quote {
    font-weight: 300;
    text-align: center;
    font-size: 1.75em;
    padding: 0px 15px;
    width: 80%;
    margin-bottom: 2em;
}

.home .primary-section .testimonial .testimonial-attr {
    color: var(--mesh-blue);
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    font-size: 1.25em;
    width: 100%;
}

@media (min-width: 768px) {
    .home .primary-section .casestudies .case-study-card {
        max-width: 49%;
    }
}

@media (max-width: 576px) {
    .home .primary-section .container .testimonial,
    .home .primary-section .container .casestudies-title,
    .home .primary-section .container .capabilities-title {
        margin-top: 4em;
    }
    .home .primary-section .section-link {
        width: 100%;
        text-align: center;
        margin: 0em;
    }
    .home .primary-section .section-seeall-link {
        width: 100%;
        text-align: center;
    }
    .casestudies .row {
        padding: 20px;
    }
    .home .primary-section .testimonial .testimonial-quote {
        font-size: 1.25em;
    }
}

/* ==========================================================================
   3b. Work Index - Work page for products and clients
   ========================================================================== */

.work .hero {
    margin-top: 7em;
    margin-bottom: 5em;
}

.work .primary-section {
    background: var(--mesh-dk-blue-bg);
    border: var(--mesh-dk-blue-bg-border) 1px solid;
}

.work .primary-section .section-headers {
    letter-spacing: 2px;
    margin-top: 8em;
}

.work .primary-section .products {
    margin-bottom: 8em;
}

.work .primary-section .product-row {
    width: 100%;
    border: 1px solid var(--mesh-dk-blue-bg-border);
    border-radius: 5px;
    overflow: hidden;
}

.work .primary-section .casestudies .case-study-card {
    margin-bottom: 24px;
}

.work .primary-section .products .case-study-card,
.work .primary-section .products .product-shot {
    margin: 0;
    width: 100%;
}

.work .primary-section .product-shot {
    background: blue;
}

.work .primary-section .product-shot img {
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.4);
}

.work .products .row {
    margin-left: 0px;
    margin-right: 0px;
}

@media (max-width: 768px) {
    .work .primary-section .section-headers {
        margin-top: 4em;
        margin-bottom: 1em;
    }
    .work .primary-section .section-headers p {
        text-align: center;
        width: 100%;
        padding: 0em .5em;
    }
}

@media (min-width: 768px) {
    .work .primary-section .casestudies .case-study-card {
        max-width: 49%;
    }
}

@media (max-width: 576px) {
    .work .primary-section .product-row {
        margin: 0px 15px;
    }
}

/* ==========================================================================
   3c - Work Single - Case Study
   ========================================================================== */

.case-study .hero {
    margin-top: 8em;
    margin-bottom: 10em;
}

.case-study .case-study-header {
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 1em;
    font-size: 1.2em;
    font-weight: 400;
}

.case-study .case-study-title {
    text-align: left;
    margin-bottom: .5em;
    font-size: 2.5em;
    font-weight: 400;
}

.case-study .case-study-sub-title {
    text-align: left;
    margin-bottom: .75em;
    font-size: 1.5em;
    font-weight: 300;
}

.case-study .primary-section {
    background: var(--mesh-dk-blue-bg);
    border: var(--mesh-dk-blue-bg-border) 1px solid;
}

.case-study .primary-section .hero-container {
    position: relative;
}

.case-study .primary-section .hero-wrapper {
    position: absolute;
    top: -100px;
    border: var(--mesh-dk-blue-bg-border) 1px solid;
}

.case-study .primary-section .hero-wrapper img {
    max-width: 770px;
    max-height: 200px;
}

.case-study .summary-row {
    margin-top: 6em;
    margin-bottom: 3em;
}

.case-study .hero-title-block {
    margin-bottom: 2em;
}

.case-study .hero-title-block h2 {
    font-size: 2.5em;
}

.case-study .primary-section .title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 4px;
}

.case-study .primary-section .sub-title {
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 2px;
}

.case-study .primary-section .case-study-content-row {
    margin-top: 10em;
    margin-bottom: 4em;
}

.case-study .primary-section .post-meta {
    font-weight: 500;
    font-size: 1.25em;
    margin-bottom: 0px;
}

.case-study .primary-section .author-picture,
.case-study .primary-section .author-meta {
    display: inline;
}

.case-study .primary-section .post-meta {
    font-weight: 300;
    margin: 0px;
}

.case-study .primary-section .author-name {
    font-weight: 400;
    font-size: .9em;
}

.case-study .primary-section .post-date {
    font-weight: 500;
    font-size: .8em;
    color: var(--mesh-dk-blue-light)
}

.case-study .primary-section .post-words {
    font-weight: 500;
    font-size: .8em;
    color: var(--mesh-dk-blue-light)
}

.case-study .primary-section .author-pic {
    width: 60px;
    height: auto;
    border: var(--mesh-dk-blue-light) 1px solid;
}

.case-study .primary-section .sub-title {
    font-size: 1.25em;
    color: var(--mesh-dk-blue-light);
}

/* ==========================================================================
   3d. About - Story of Mesh / Founders
   ========================================================================== */

.about .hero {
    margin-top: 7em;
    margin-bottom: 5em;
}

.about .section {
    margin-bottom: 4em;
}

.about .primary-section {
    background: var(--mesh-dk-blue-bg);
    border: var(--mesh-dk-blue-bg-border) 1px solid;
}

.about .primary-section .title {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1.1em;
}

.about .primary-section .sub-title {
    font-weight: 500;
    font-size: 1.3em;
}

.about .primary-section .intro-summary {
    margin-top: 6em;
}

.about .primary-section .content {
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.75;
    white-space: pre-wrap;
}

.about .primary-section .story p {
    letter-spacing: 0px;
    font-size: 1.2em;
    line-height: 1.75;
}

.about .primary-section .story .title {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1.1em;
}

.about .primary-section .story .section-link {
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.1em;
}

.about .primary-section .founders .founder .founder-image {
    border: var(--mesh-dk-blue-light) 1px solid;
    border-radius: 50%;
}

.about .primary-section .founders .twitter-bird {
    height: 20px;
    width: 20px;
}

/* ==========================================================================
   3e. Services - What Mesh Can Do
   ========================================================================== */

.services .hero {
    margin-top: 7em;
    margin-bottom: 5em;
}

.services .capabilities .capability-row {
    margin-bottom: 6em;
}

.services .primary-section {
    background: var(--mesh-dk-blue-bg);
    border: var(--mesh-dk-blue-bg-border) 1px solid;
}

.services .primary-section .title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 4px;
}

.services .primary-section .sub-title {
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 2px;
}

.services .primary-section .capabilities {
    margin: 6em 0em;
}

/* ==========================================================================
   3f. Blog Index - All of our Blog Posts
   ========================================================================== */

.blog .hero {
    margin-top: 7em;
    margin-bottom: 5em;
}

.blog .primary-section {
    background: var(--mesh-dk-blue-bg);
    border: var(--mesh-dk-blue-bg-border) 1px solid;
}

.blog .summary-row {
    margin-top: 6em;
    margin-bottom: 3em;
}

.blog .primary-section .title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1em;
}

.blog .primary-section .sub-title {
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 1px;
}

.blog .primary-section .title-link {
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 2px;
    color: var(--mesh-dk-blue)
}

.blog .primary-section .blog-card {
    margin-bottom: 4em;
}

.blog .primary-section .blog-card {
    border: var(--mesh-dk-blue-content-border) 1px solid;
    background-color: white;
    margin: 1em;
    margin-bottom: 2em;
    border-radius: 1%;
    overflow: hidden;
}

.blog .primary-section .blog-card:first-child {
    margin-top: 0em;
}

.blog .primary-section .blog-card .image-box {
    height: 180px;
    width: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-bottom: var(--mesh-dk-blue-content-border) 1px solid;
}

.blog .primary-section .blog-card .summary-box {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 2em !important;
    margin-right: 2em !important;
    background-color: white;
}

.blog .primary-section .blog-card .summary-box .meta {
    font-size: 13px;
    letter-spacing: 1px;
    color: var(--mesh-dk-blue);
}

.blog .primary-section .blog-card .summary-box .meta .tag {
    text-transform: uppercase;
}

.blog .primary-section .blog-card .summary-box .post-title {
    margin: 0px;
    margin-bottom: 6px;
}

.blog .primary-section .blog-card .summary-box .post-title a {
    font-weight: 500;
    font-size: 1.25em;
}

.blog .primary-section .blog-card .summary-box .summary {
    font-weight: 300;
    font-size: 1.2em;
}

.blog .primary-section .blog-card .summary-box p {
    font-size: 1.4em;
    font-weight: 300;
}

.blog .primary-section .blog-card .summary-box .author-pic {
    width: 34px;
    height: auto;
}

.blog .primary-section .blog-card .founder-link {
    color: black;
    font-size: 0.85em;
}

.blog .primary-section .blog-card .founder-link:hover {
    color: var(--mesh-dk-blue);
}

.blog .primary-section .blog-card .author-name:hover {
    color: var(--mesh-dk-blue);
}

.blog .primary-section .blog-card .read-more-link {
    color: var(--mesh-dk-blue-light);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1em;
}

.blog .primary-section .blog-card .read-more-link:hover {
    color: var(--mesh-dk-blue);
}

.blog .primary-section .spy-box {
    position: sticky;
    top: 30px;
}

.blog .primary-section .blog-info-column .row {
    border-bottom: var(--mesh-dk-blue-dk-border) 1px solid;
}

.blog .primary-section .blog-info-column .row:last-child {
    border-bottom: none;
}

.blog .primary-section .blog-info-column .header p:last-child {
    margin-bottom: 1em;
}

.blog .primary-section .blog-info-column .newsletter {
    margin-top: 1em;
    font-weight: 400;
    font-size: .9em;
}

.blog .primary-section .blog-info-column .newsletter input {
    display: inline-block;
    text-align: left;
    width: 70%;
    font-weight: 300;
    height: 42px;
    font-size: 1em;
}

.blog .primary-section .blog-info-column .newsletter input:hover {
    box-shadow: none;
    border-color: var(--mesh-dk-blue);
}

.blog .primary-section .blog-info-column .newsletter input:focus {
    box-shadow: none;
    border-color: var(--mesh-dk-blue);
}

.blog .primary-section .blog-info-column .newsletter button {
    display: inline-block;
    background-color: var(--mesh-blue);
    border-color: var(--mesh-dk-blue);
    padding: 0px;
    width: 62px;
    height: 42px;
    border: none;
}

.blog .primary-section .blog-info-column .newsletter button:active {
    box-shadow: none;
}

.blog .primary-section .blog-info-column #mc_embed_signup_scroll .signup-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blog .primary-section .blog-info-column #mc_embed_signup_scroll .signup-input input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0px;
    width: 80%;
}

.blog .primary-section .blog-info-column #mc_embed_signup_scroll .signup-input button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.blog .primary-section .blog-info-column #mc_embed_signup_scroll #mce-EMAIL {
    color: var(--mesh-dk-blue);
}

.blog .primary-section .blog-info-column #mc_embed_signup_scroll input.mce_inline_error {
    border-color: #F64C4C;
}

.blog .primary-section .blog-info-column #mc_embed_signup_scroll .signup-input + .mce_inline_error {
    background-color: none;
    background: none;
    text-align: left;
    padding-left: 0px;
    color: #F64C4C;
}

.blog .primary-section .blog-info-column #mc_embed_signup_scroll #mce-error-response a {
    display: none;
}

@media (max-width: 768px) {
    .blog .primary-section .blog-info-column {
        margin-bottom: 2em;
    }
    .blog .primary-section .blog-info-column p {
        width: 100%;
        text-align: center;
    }
}

/* ==========================================================================
   3g. Blog Post (Single) - Individual Blog Post
   ========================================================================== */

.blog-post .hero {
    margin-top: 8em;
    margin-bottom: 10em;
}

.blog-post .blog-header {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1em;
    font-size: 1.2em;
    font-weight: 500;
}

.blog-post .primary-section {
    background: var(--mesh-dk-blue-bg);
    border: var(--mesh-dk-blue-bg-border) 1px solid;
}

.blog-post .primary-section .hero-container {
    position: relative;
}

.blog-post .primary-section .hero-container img {
    height: 200px;
    width: auto;
    position: absolute;
    top: -100px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.blog-post .summary-row {
    margin-top: 6em;
    margin-bottom: 3em;
}

.blog-post .hero-title-block {
    margin-bottom: 2em;
}

.blog-post .hero-title-block h2 {
    font-size: 2.5em;
}

.blog-post .primary-section .title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2em;
}

.blog-post .primary-section .sub-title {
    font-weight: 500;
    font-size: 1.2em;
}

.blog-post .primary-section .blog-meta-row {
    margin-top: 10em;
}

.blog-post .primary-section .blog-content-row {
    margin-bottom: 4em;
}

.blog-post .primary-section .post-meta {
    font-weight: 500;
    font-size: 1.25em;
    margin-bottom: 0px;
}

.blog-post .primary-section .author-picture,
.blog-post .primary-section .author-meta {
    display: inline;
}

.blog-post .primary-section .post-meta {
    font-weight: 300;
    margin: 0px;
}

.blog-post .primary-section .author-name {
    font-weight: 400;
    font-size: .9em;
    color: black !important;
}

.blog-post .primary-section .post-date {
    font-weight: 500;
    font-size: .8em;
    color: var(--mesh-dk-blue-light)
}

.blog-post .primary-section .post-words {
    font-weight: 500;
    font-size: .8em;
    color: var(--mesh-dk-blue-light)
}

.blog-post .primary-section .author-pic {
    width: 60px;
    height: auto;
    border: var(--mesh-dk-blue-light) 1px solid;
}

.blog-post .primary-section .sub-title {
    font-size: 1.25em;
    color: var(--mesh-dk-blue-light);
}

.blog-post table {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.blog-post table th {
    text-align: center;
    align-content: center;
}

.blog-post table td {
    align-content: center;
    color: #212529;
    font-weight: 300;
    font-size: 1.0em;
    padding: 0px 30px 0px 30px;
}

@media (max-width: 768px) {
    .blog-post .hero-title-block {
        padding: 0em 1em;
    }
    .blog-post .primary-section .hero-container img {
        height: auto;
    }
    .blog-post .primary-section .blog-meta-row {
        margin-top: 10em;
    }
}

@media (max-width: 576px) {
    .blog-post .primary-section .blog-meta-row {
        margin-top: 6em;
    }
}