<!-- 
CAPABILITES LISTINGS

This partial contains the different services Mesh Studio can perform for a client.

Required Params in Dict
- show_subtite (show the sub-titles)
- context (site context)
-->
{{ $context := .context }}
{{ $show_subtitle := .show_subtitle }}
<div class="capabilities">
    <p class="capabilities-statement mb-5">{{$context.Params.capabilities_statement}}</p>
    {{ range first 2 (where $context.Data.Pages "Section" "services").ByDate }}
        {{ range $key, $value := .Params.capabilties }}
            <div class="row d-flex justify-content-between capabilitiy-row mb-5">
                <p class="capability-title">{{.title}}</p>
                {{ if $show_subtitle }}<p class="capability-sub-title">{{.sub_title}}</p>{{ end }}
                {{ range $key, $value := .services }}
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="capability-card d-flex flex-column align-items-center">
                            <img class="img-fluid capability-glyph my-4" src="{{ $value.image }}" alt="Home" />
                            <p class="card-title my-4">{{$value.title}}</p>
                            <p class="card-description">{{$value.description}}</p>        
                            {{ partial "contentSections/tagBox" . }}
                        </div>
                    </div>
                {{ end }}
            </div>    
        {{ end }}
    {{ end }}
</div>
