<!-- 
PRODUCT CARD

This partial captures the work for a native Mesh product.

Required Params in Dict
- title 
- sub_title 
- base_url (link for clicking on the disclosures)
- product_image (Image of the product)
- logo (Logo for the product)
- logo_max_height (max height for logo to display)
- tags (array of strings that summarize the work)
-->
<div class="row product-row mb-4">
    <div class="col-12 col-md-6 d-flex justify-content-center align-items-end product-shot" style="background: #{{.product_color}}">
        <a class="case-study-link" href="{{.link}}">
                <img class="img-fluid product-shot-image" src="{{.product_image}}" alt="Home" />
        </a>
    </div>
    {{partial "contentSections/workCard" (dict "title" .title "sub_title" .sub_title "base_url" .base_url "logo" .logo "logo_max_height" .logo_max_height "tags" .tags "url" .link)}}
</div>