{{ define "main" }}

<div class="blog-post">
    <div class="hero">
        <div class="container">
            <div class="row d-flex flex-row align-items-center justify-content-center">
                {{partial "heroTitleBlock" .Params}}
            </div>
        </div>
    </div>

    <div class="primary-section">
        <div class="hero-container d-flex justify-content-center">
            <img class="img-fluid" src="{{$.Params.hero_image}}" />
        </div>

        <div class="container">
            <!-- CASE STUDIES -->
            <div class="row">
                <div class="col-10 offset-1 post-container">
                    <div class="row blog-meta-row">
                        <div class="col-10 offset-1">
                            <header class="meta-header d-flex flex-column align-items-center">
                                <div class="author-picture">
                                    <a class="founder-twitter" href="{{$.Params.author.url}}">
                                        <img class="img-fluid author-pic rounded-circle" src="{{$.Params.author.avatar}}" />
                                    </a>
                                </div>
                                <div class="author-meta mt-2">
                                    <span class="post-meta author-name">{{ .Params.author.name}}</span>
                                    <span class="post-meta post-date">Posted On {{ .Date.Format "Jan 2, 2006" }}</span>
                                    <p class="post-meta post-words mt-1">{{.ReadingTime}} min read | {{ .FuzzyWordCount }} Words</p>
                                </div>
                            </header>
                        </div>
                    </div>
                    <div class="row blog-content-row">
                        <div class="col-10 offset-1">
                            <article class="post">
                                {{ .Content }}
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{{ end }}