{{ define "main" }}

<div class="blog-post">
    <div class="hero">
        <div class="container">
            <div class="row d-flex flex-row align-items-center justify-content-center">
                {{partial "heroTitleBlock" .Params}}
            </div>
        </div>
    </div>

    <div class="primary-section">
        <div class="hero-container d-flex justify-content-center">
            <img class="img-fluid" src="{{$.Params.hero_image}}" />
        </div>
        
        <div class="container post-container">
            <!-- CASE STUDIES -->        
            <div class="row blog-meta-row">
                <div class="col-12 col-sm-12 col-lg-8 offset-lg-2">
                    <header class="meta-header d-flex flex-row align-items-center">
                        <div class="author-picture mr-3">
                            <a class="founder-twitter ml-2 mb-5" href="{{$.Params.author.url}}">
                                <img class="img-fluid author-pic rounded-circle" src="{{$.Params.author.avatar}}" />
                            </a>
                        </div>
                        <div class="author-meta">
                            <p class="post-meta author-name">{{ .Params.author.name}}</p>
                            <p class="post-meta post-date">{{ .Date.Format "Jan 2" }} | {{.ReadingTime}} min read</p>
                            <p class="post-meta post-words">{{ .FuzzyWordCount }} Words</p>
                        </div>
                    </header>
                </div>
            </div>
            <div class="row blog-content-row">
                <div class="col-12 col-sm-12 col-lg-8 offset-lg-2">
                    <article class="post">
                        {{ .Content }}
                    </article>
                </div>
            </div>
        </div>
    </div>

</div>

{{ end }}