<footer>
    <!-- LOWER GET IN TOUCH -->
    {{partial "getInTouch" .}}
    <div class="container footer-container py-5" id="container">
        <div class="row">
            <!-- Footer Logo -->
            <div class="col">
                <a class="navbar-brand mb-5 mt-2" href="{{.Site.BaseURL}}">
                    <img class="img-fluid main-logo" src="{{ .Site.Params.logoWhite }}" alt="Home" />
                </a>
            </div>
        </div>
        <div class="row">

            <!-- Footer Address/Contact -->
            <div class="col-6 col-md-3 footer-list">
                <h5>Contact</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        3621 Stone Way N Suite G
                    </li>
                    <li>
                        Seattle, WA 98103
                    </li>
                    <li>
                        info@meshstudio.io
                    </li>
                </ul>
            </div>

            <!-- Footer Nav -->
            <div class="col-6 col-md-3 footer-list nav-list">
                <h5>Pages</h5>
                <ul class="list-unstyled text-small">

                    <ul class="footer-nav">
                        {{ range .Site.Menus.main }}
                        <li class="nav-item">
                            <a class="nav-link pt-1 pb-1" href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                        {{end}}
                    </ul>
                </ul>
            </div>

            <!-- Latest Blog -->
            <div class="col-12 col-md-4 offset-md-2  footer-list">
                {{ range first 1 (where .Data.Pages "Section" "blog").ByDate.Reverse }}
                    <h5>Latest Blog Post</h5>
                    <!-- Figure out how to put latest blog thing here -->
                    <a class="blog-title d-block" href="{{.URL}}">{{.Title}}</a>
                    <a class="blog-sub-title d-block pt-2" href="{{.URL}}">{{.Params.sub_title}}</a>
                {{ end }}
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<!-- JS -->
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script src="/js/googleAnalytics.js"></script>
<script src="/js/typeform.js"></script>
<script src="/js/mailchimp.js"></script>
