<div class="get-in-touch-container">
    <div class="container">
        <div class="row get-in-touch">
            <div class="col-12 col-md-6 d-flex flex-column justify-content-start align-items-center my-5">
                <p class="get-in-touch-header mb-0">{{.Site.Params.get_in_touch_title}}</p>
                <p class="get-in-touch-content">{{.Site.Params.get_in_touch_content}}</p>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-end align-items-center">
                <button type="button" class="btn get-in-touch-btn">get in touch</button>
            </div>

        </div>
    </div>
</div>