<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<meta property="og:title" content="{{ if ne .URL "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:url" content="{{ .Permalink }}" />

<!-- Slack/Twitter Fields -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:domain" value="meshstudio.io" />
<meta name="twitter:title" value="{{ .Site.Title }}" />
<meta name="twitter:description" value="{{ .Site.Params.description }}" />
<meta name="twitter:image" content="{{.Site.BaseURL}}images/site/twitter_logo.jpg">
<meta name="twitter:url" value="https://meshstudio.io/" />
<meta name="twitter:label1" value="Cloud Development" />
<meta name="twitter:data1" value="Building Scalable And Reliable Cloud Software Is Hard. We'll Take Care Of Your Cloud, So You Can Focus On Your Customers." />
<meta name="twitter:label2" value="Application Development" />
<meta name="twitter:data2" value="Sophisticated Front End Applications Built With A Focus On Usability And Customer Experience." />


{{ if .IsPage }}
  <meta property="og:type" content="article" />

<meta property="og:article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" />

{{ range .Params.tags }}
<meta property="og:article:tag" content="{{ . }}" />
{{ end }}
{{ else }}
<meta property="og:type" content="website" />
{{ end }}

<title>
{{ if ne .URL "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}
</title>

<meta name="description" content="{{ .Site.Params.description }}" />

<meta name="HandheldFriendly" content="True" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />