<div class="teamphotos">
    <div class="row photo-mosaic d-flex">
        <div class="col-6 pic-large photo flex-fill d-flex justify-content-center">
            <img src="/images/careers/mesh_outside_logo.jpg" alt="Responsive image">
        </div>
        <div class="col-6 pic-container flex-fill">
            <div class="row d-flex">
                <div class="col-12 landscape-photo">
                    <img src="/images/careers/office-photo2.jpg"  alt="Responsive image">    
                </div>        
                <div class="col-6 portrait-photo">
                    <img src="/images/careers/action-photo6.jpg" alt="Responsive image">    
                </div>
                <div class="col-6 portrait-photo">
                    <img src="/images/careers/action-photo4.jpg" alt="Responsive image">
                </div>
            </div>
        </div>
    </div>
    <div class="row photo-lineup">
        <div class="col-4 portrait-photo">
            <img src="/images/careers/action-photo3.jpg" class="img-fluid" alt="Responsive image">    
        </div>
        <div class="col-4 portrait-photo">
            <img src="/images/careers/action-photo2.jpg" class="img-fluid" alt="Responsive image">
        </div>    
        <div class="col-4 portrait-photo">
            <img src="/images/careers/action-photo1.jpg" class="img-fluid" alt="Responsive image">
        </div>   
    </div>            
</div>

<div class="row photo-carousel d-block d-sm-none d-flex">
    <div class="col-12 carousel">

    </div>
</div>