{{ define "main" }}

<div class="home">
    <div class="hero">
        <div class="container">
            {{ partial "heroTitleBlock" .Params }}
        </div>
    </div>

    <div class="primary-section">
        <!-- GET IN TOUCH -->
        <div class="button-container d-flex justify-content-center">
            <button type="button" href={{.Site.Params.typeformLink}} class="btn get-in-touch-btn typeform-share">get in touch</button>
        </div>
        <div class="container case-study-container">
            <!-- CASE STUDIES -->
            <div class="row casestudies-title mb-5">
                {{ range where .Site.Menus.main "Name" "==" "Work" }}
                <a class="section-link" href="{{ .URL }}">case studies</a>
                <a class="section-seeall-link" href="{{ .URL }}">see all</a>
                {{ end }}
            </div>
            <div class="casestudies">
                {{partial "caseStudies" (dict "context" . "limit" "2")}}
            </div>

            <!-- CAPABILITIES -->
            <div class="row capabilities-title mb-3">
                {{ range where .Site.Menus.main "Name" "==" "Services" }}
                <a class="section-link" href="{{ .URL }}">capabilites</a>
                <a class="section-seeall-link" href="{{ .URL }}">see all</a>
                {{ end }}    
            </div>

            {{partial "contentSections/capabilities"  (dict "context" . "show_subtitle" false )}}
            <!-- TESTIMONIAL -->
            <div class="row testimonial d-flex justify-content-center">
                <p class="testimonial-quote">"{{.Params.testimonial}}"</p>
                <a class="testimonial-attr" href="{{ .Params.testimonial_attr_link }}">{{.Params.testimonial_attr}}</a>
            </div>
        </div>
    </div>

</div>

{{ end }}