{{ define "main" }}

<div class="home">
    <div class="hero">
        <div class="container">
            {{partial "heroTitleBlock" .Params}}
        </div>
    </div>

    <div class="primary-section">
        <!-- GET IN TOUCH -->
        <div class="button-container d-flex justify-content-center">
            <button type="button" class="btn get-in-touch-btn">get in touch</button>
        </div>
        <div class="container">
            <!-- CASE STUDIES -->
            <div class="row casestudies-title mb-5">
                <a class="section-link mr-4" href="{{ .URL }}">case studies</a>
                <a class="section-see-all-link" href="{{ .URL }}">see all</a>
            </div>
            <div class="casestudies">
                {{partial "caseStudies" (dict "context" . "limit" "2")}}
            </div>

            <!-- CAPABILITIES -->
            <div class="row capabilties-title mb-3">
                <a class="section-link mr-4" href="{{ .URL }}">capabilites</a>
                <a class="section-seeall-link" href="{{ .URL }}">see all</a>
            </div>
            <div class="capabilities">
                <p class="capabilities-statement mb-5">{{.Params.capabilities_statement}}</p>
                {{partial "contentSections/capabilities" .}}
            </div>

            <!-- TESTIMONIAL -->
            <div class="row testimonial">
                <p class="testimonial-quote">{{.Params.testimonial}}</p>
                <p class="testimonial-attr">{{.Params.testimonial_attr}}</p>
            </div>

            <!-- LOWER GET IN TOUCH -->
            {{partial "getInTouch" .}}
        </div>
    </div>

</div>

{{ end }}