{{ define "main" }}

<div class="about">
    <div class="hero">
        <div class="container">
            {{partial "heroTitleBlock" .Params}}
        </div>
    </div>

    <div class="primary-section">
        <div class="container">
            <!-- ABOUT INTRO -->
            <div class="row section intro-summary">
                <div class="col-12 col-md-8 offset-md-2">
                    <p class="title">{{.Params.intro_title}}</p>
                    <p class="content">{{.Params.intro_content}}</p>
                    <a class="section-link" href="/content/WorkingWithMesh.pdf" target="_blank">Read more working with us</a>
                </div>
            </div>

            <!-- VALUES -->
            <div class="row section values">
                <div class="col-12 col-md-8 offset-md-2">
                    <p class="title mb-4">{{.Params.values_title}}</p>
                    {{ $count := len .Params.values_content }} 
                    {{ range $idx, $hash := .Params.values_content }} 
                        {{ $limit := add $idx 1 }}
                        <div class="value{{ if gt $count $limit }} mb-5{{ end }} ">
                            <p class="sub-title">{{$hash.title}}</p>
                            <p class="content">{{$hash.summary}}</p>
                        </div>
                    {{ end }}
                </div>
            </div>

            <!-- VALUES -->
            <div class="row section story">
                <div class="col-12 col-md-8 offset-md-2">
                    <p class="title">{{.Params.story_title}}</p>
                    {{ .Content }}
                    <a class="section-link" href="/content/AboutMesh.pdf" target="_blank">Read more about story</a>
                </div>
            </div>

            <!-- FOUNDERS -->
            <div class="row section founders">
                {{ partial "founders.html" . }}                
            </div>

        </div>
    </div>

</div>

{{ end }}