{{ define "main" }}
<div class="careers">
    
    <div class="hero">
        <div class="container">
            {{partial "heroTitleBlock" .Params}}
        </div>
    </div>

    <div class="primary-section">
        <div class="container">
            <!-- TITLE / SUBTITLE -->
            <div class="row section-headers flex-column">
                <p class="title">{{.Params.team_photos_title}}</p>
                <p class="content">{{.Params.team_photos_sub_title}}</p>
            </div>

            <!-- TEAM PHOTOS -->
            <div class="teamphotos col-12 mt-4">
                {{partial "teamPhotos"}}
            </div>

            <!-- BENEFITS -->
            <div class="row section-headers flex-column">
                <p class="title">{{.Params.team_photos_title}}</p>
                <p class="content">{{.Params.team_photos_sub_title}}</p>
            </div>
            <div class="benefits col-12">
                {{partial "benefits" .}}
            </div>
    
        </div>
    </div>

</div>

{{ end }}