{{ define "main" }}

<div class="work">
    <div class="hero">
        <div class="container">
            {{partial "heroTitleBlock" .Params}}
        </div>
    </div>

    <div class="primary-section">
        <div class="container">
            <!-- CASE STUDIES -->
            <div class="row section-headers flex-column">
                <p class="title">{{.Params.case_section_title}}</p>
                <p class="content">{{.Params.case_section_sub_title}}</p>
            </div>
            <div class="casestudies mt-5">
                {{partial "caseStudies" (dict "context" . "limit" "10")}}
            </div>

            <!-- PRODUCTS -->
            <div class="row section-headers flex-column">
                <p class="title">{{.Params.product_section_title}}</p>
                <p class="content">{{.Params.product_section_sub_title}}</p>
            </div>    
            <div class="row products">
                {{ range .Params.products }}
                    {{partial "contentSections/productCard" (dict "title" .title "sub_title" .sub_title "base_url" .base_url "product_image" .product_image "logo" .logo "logo_max_height" .logo_max_height "tags" .tags "product_color" .product_color "link" .link)}}
                {{ end }}
            </div>

        </div>
    </div>

</div>

{{ end }}